@import 'vars';

*,
:before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16*$r; // = 1rem
    font-family: Orbitron, sans-serif;
    border: none;
    outline: none;
}

body {
    min-height: 100vh;
    padding: 0 2rem;
    background-color: #004980;
    color: #000;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.125rem;
    font-weight: bold;
    text-transform: uppercase;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --webkit-flex-direction: column; // Safari
    --webkit-justify-content: center; // Safari
    --webkit-align-items: center; // Safari
    --moz-flex-direction: column; // Firefox
    --moz-justify-content: center; // Firefox
    --moz-align-items: center; // Firefox
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.btn {
    font-size: 1.5rem;
    min-width: 15rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.75rem;
    border: 0.125rem solid darken(#7AC100, 10%);
    background-color: #7AC100;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: inherit;

    &:hover {
        background-color: darken(#7AC100, 10%);
    }
}

.hidden {
    display: none;
}

:hover {
    cursor: pointer;
    transition: all .05s ease-in-out;
}

:disabled {
    pointer-events: none;
    opacity: 0.5;
}


footer {
    font-size: 0.5rem;
    color: #80a0c0;

    &::before {
        content: "Copyright \00A9 2023 Dmitry Stor \00B7 StorDev \00B7 All rights reserved \00B7 Card Pair Game";
    }
}