@import 'vars';

.game {
    padding: 3rem 4rem;
    border-radius: 0.75rem;
    background-color: #C2F5FF;

    &__text-big,
    &__text-big span {
        font-size: 2.5rem;
        line-height: 3rem;
        width: 25rem;
        font-weight: 400;
    }

    &__level {
        margin: 3rem 0;
        flex-direction: row;

        & li:first-child {
            margin-left: 0;
        }

        & li:last-child {
            margin-right: 0;
        }

        & li {
            margin: 0 1.5rem;
            padding: 0.75rem 1.25rem;
            font-size: 4rem;
            border-radius: 0.75rem;
            border: 0.125rem solid darken(#fff, 30%);
            background-color: #fff;
            color: #0080C1;
            list-style-type: none;
            text-decoration: none;

            &:hover {
                box-shadow: 0 0 0.5rem 0.25rem #0080C1;
                transition: all 0.05s ease-in-out;
            }
        }

    }
}